.skin-black .main-header .logo{
    background-color: black;
    border-color: black;
    color: white;
    text-align: left;
}

.skin-black .main-header .navbar{
    background-color: #222d32;
    border-color: #222d32;
}

.skin-black .main-header .navbar>.sidebar-toggle{
    border-right: #222d32;
    color: white;
}

.content-wrapper {
    background-color: #d4d4d4;
}